@model int


@if (Session["usuario"] != null)
{
<div class="modal-content">
    <div class="modal-body">

        <div class="form-group">
            <center>
                @switch (Model)
                {
                    case 1:
                        <h3>Se aprobó correctamente esta Versión.</h3>
                        break;
                    case 2:
                        <h3>La versión subió al siguiente nivel de aprobación</h3>
                        break;
                    case 3:
                        <h3>Existen detalles sin aprobar</h3>
                        break;
                    case 4:
                        <h3>Ud. ya no puede aprobar esta versión porque fue enviada a un nivel superior.</h3>
                        break;
                    case 5:
                        <h3>La versión debe enviarse a aprobar</h3>
                        break;
                    case 6:
                        <h3>La versión debe enviarse a aprobar</h3>
                        break;
                }

            </center>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-6 contenido-derecha">
            <button type="button" class="btn btn-default" onclick="window.opener.document.location.reload();" data-dismiss="modal">Aceptar</button>
        </div>

    </div>
</div>
}
else
{
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <center>
                    <h3>Su sesión ha expirado, ingrese nuevamente.</h3>
                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>

}