@using Entidades;
@model DetalleVersion
@if (Session["usuario"] != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center><h4 class="modal-title">Eliminar Detalle</h4></center>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <center>
                    <h5>¿Realmente desea eliminar el producto <string>@Model.NombreMaterialSoli</string> ?</h5>
                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                @if (((Usuario)Session["usuario"]).tieneAccesoA(Accesos.EliminarDetalle))
                {
                    <button type="button" class="btn btn-warning" onclick="EliminarDetalle(@Model.idDetalle)" id="btnAceptar">Sí, Eliminar</button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnObsAceptar">Cancelar</button>
            </div>

        </div>
    </div>
}
else
{
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <center>
                    <h3>Su sesión ha expirado, ingrese nuevamente.</h3>
                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>

}
