@using Entidades;
@model DetalleVersion
@if (Session["usuario"] != null)
{
<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" onclick="$('#commentObservacion').val('')" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Observación de <strong> @Html.Encode(Model.NombreMaterialSoli) </strong></h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <center>
                <label for="comment">Detalle:</label>
                <textarea class="form-control" rows="5" id="commentObservacion"></textarea>
            </center>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-sm-8">
            <center id="alertaObser" style="display:none; color:indianred;"><h4> <strong id="contObser">Observación no puede estar en blanco</strong></h4></center>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-default" onclick="ObservarDetalle(@Model.idDetalle)" id="btnObsGuardar">Guardar</button>
            <button type="button" class="btn btn-default" id="btnEspere" style="display:none;">Espere ...</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="display:none;" id="btnObsAceptar" onclick="ExpandirObservaciones('@Model.idDetalle')">Aceptar</button>
        </div>

    </div>
</div>
}
else
{
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <center>
                    <h3>Su sesión ha expirado, ingrese nuevamente.</h3>
                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>

}