@model Entidades.RptaServer

@if (Session["usuario"] != null)
{
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <center>
                    @if (Model != null)
                    {
                        <h3>@Model.rptaText </h3>
                    }
                    else
                    {
                        <h3>No se puedo Rechazar la versión </h3>
                    }

                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-default" onclick="window.opener.document.location.reload();" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <center>
                    <h3>Su sesión ha expirado, ingrese nuevamente.</h3>
                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>

}
