
@if (Session["usuario"] != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center><h4 class="modal-title">Crear Perfil</h4></center>
        </div>
        <div class="modal-body">
            <div class="col-sm-12">
                <label for="nombrePresupuesto" class="control-label col-sm-5">Nombre Perfil</label>
                <div class="form-group col-sm-7">
                    <input class="form-control" type="text" name="" value="" id="nombrePresupuesto" />
                </div>
                <label for="codigoPresupuesto" class="control-label col-sm-5">Codigo Perfil</label>
                <div class="form-group col-sm-7">
                    <input class="form-control" type="text" name="" value="" id="codigoPresupuesto" />
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-warning" onclick="CrearPerfil()" id="btnAceptar">Crear</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnObsAceptar">Cancelar</button>
            </div>

        </div>
    </div>
}
else
{
    <div class="modal-content">
        <div class="modal-body">
            <div class="form-group">
                <center>
                    <h3>Su sesión ha expirado, ingrese nuevamente.</h3>
                </center>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6 contenido-derecha">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>

}


