@using Entidades;
@model IEnumerable<Area>


<div class="panel panel-success">
    <div class="panel-heading">    
        <center>Lista de Áreas Registradas</center>
    </div>
    <div class="panel-body">
        
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-sm-2">
                        <input type="checkbox" name="accArea" id="cbox@(item.codArea)" value="@(item.codArea)">
                    </div>
                    <div class="col-sm-10">
                        @item.desArea
                    </div>
                </div>

            }
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" style="float:right;" class="btn btn-success btn-sm" onclick="GuardarAreasUsuario($('#nombreusuario').val())"> Guardar </button>
            </div>
        </div>
    </div>
</div>



