@using Entidades;
<div class="row">
    <div class="col-sm-12">
        <label for="nombrePresupuesto" class="control-label col-sm-5">Nombre usuario</label>
        <div class="form-group col-sm-4">
            <input class="form-control" type="text" name="" value="" id="nombreusuario" />
        </div>
        <div class="form-group col-sm-3">
            <button type="button" style="float:right;" class="btn btn-success btn-sm" onclick="ValidarDatosUsuario()"> Validar </button>
        </div>

        <label for="apepausuario" class="control-label col-sm-5">Apellido Paterno</label>
        <div class="form-group col-sm-7">
            <input class="form-control" type="text" name="" disabled="disabled" id="apepausuario" value="Valide Usuario" />
        </div>
        <label for="apemausuario" class="control-label col-sm-5">Apellido Materno</label>
        <div class="form-group col-sm-7">
            <input class="form-control" type="text" name=""  disabled="disabled" id="apemausuario" value="Valide Usuario" />
        </div>
        <label for="nombreusuario" class="control-label col-sm-5">Nombres</label>
        <div class="form-group col-sm-7">
            <input class="form-control" type="text" name="" disabled="disabled" id="nombresusuario" value="Valide Usuario" />
        </div>
        <label for="emailusuario" class="control-label col-sm-5">E-mail</label>
        <div class="form-group col-sm-7">
            <input class="form-control" type="text" name=""  id="emailusuario" value="" />
        </div>

        <label for="idSede" class="control-label col-sm-5">Sede</label>
        <div class="form-group col-sm-7">
            <select class="form-control" id="comboidSede" onchange="cambioSedeCrear()">
                @foreach (Sede prio in ViewBag.sedes)
                {
                    <option value="@prio.codSede">@prio.desSede</option>
                }
            </select>
        </div>
        <div class="col-sm-12" id="areasSede">

        </div>


    </div>
</div>
