<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <DataAccess.Properties.Settings>
            <setting name="DataAccess_ServicioMateriales_Material" serializeAs="String">
                <value>http://10.10.108.56:8080/ServiceMateriales/Material</value>
            </setting>
            <setting name="DataAccess_AutenticarService_Autenticar" serializeAs="String">
                <value>http://10.10.90.15/ws_interfaces_des/SIMA/Autenticacion/Autenticar.asmx</value>
            </setting>
        </DataAccess.Properties.Settings>
    </applicationSettings>
</configuration>