.estado-ind {
    border-radius: 50%;
    float:left;
    width: 20px;
    height: 20px;
    max-width:20px;
    max-height:20px;    
    margin-right:5px;
}

.estado-ind-rojo {    
    background: red;   
    border: none; 
}
.estado-ind-verde {    
    background: green;    
    border: none;
}
.estado-ind-blanco {    
    background: white;    
    border: 1px solid black;
}
.estado-ind-celeste {
    background: #5eb2f5;    
    border: 1px solid black;
}

.estado {   
    margin:2px;
    overflow-x:hidden;
    display:inline-block;
}

.barra-principal {
    background-color:#1a0a62;
}

.barra-pie {
    background-color:#1a0a62;
    color:white;
}

.activo-principal {
    background-color:#1a0a45;
}


.excesodiv{

	    overflow-x: hidden;
}


.est-edicion{
	background-color: white;
	    
}
.est-edicion:hover{
	background-color: #bfbfbc !important;
	    
}


.est-aprobado{
	background-color: rgba(206, 255, 180, 0.55);
}
.est-aprobado:hover{
	background-color: rgb(195, 255, 164) !important;
}


.est-inactivo{
	background-color: #85c4f7;
}
.est-inactivo:hover{
	background-color: #5eb2f5 !important;
}

.est-enviado{
	background-color: #dcf8f8;
     color: black !important;
}
.est-enviado:hover{
	background-color: #c5edef !important;
    color: black !important;
}

.est-desaprobado{
	background-color: #eeaea4;
     color: white !important;
}
.est-desaprobado:hover{
	background-color: #de968a !important;
     color: white !important;
}

.panel-principal {
    padding-left: 50px;
}

.panel-secundario {
    padding-right: 50px;
}


.contenido-derecha {
float: right;

}

.autocompletar {
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-right: -300px;
    max-height:200px;
    overflow-y:scroll;
}

body {
    height: 95%;
    bottom: 0;
    width: 100%;
}

footer {
    position: fixed;
    height: 5%;
    bottom: 0;
    width: 100%;
}